
    <nav class="navbar  navbar-inverse  navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#!/inicio">Ztream Gym</a>
      <div class="navbar-collapse collapse">
        <ul class="styleNav nav navbar-nav navbar-right">
          <li class="hola"><a href="#!/iniciarSesion">Iniciar Sesion</a> </li>
        </ul>
      </div>
    </div>
  </nav>
    <header id="page-top">
      <div class="container">
        <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">Ztream Gym</span>
            <hr class="star-light">
            <p class="skills">Garantizamos el éxito de su empresa y su permanencia.</p>
          </div>
        </div>
        </div>
      </div>
